<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola</h1>
    <form action="/" method="post">
    <label for="nombre">Ingrese su nombre</label>
    <input type="text" name="nombre" id="nombre">
    <small class="Error"><%= locals.errors && errors.nombre? errors.nombre.msg : null %></small>
    <select  name="color" id="color">
                                

        <option value="red">rojo</option>
        <option value="blue">azul</option>
        <option value="coral">coral</option>
       
      </select>
      <small class="Error"><%= locals.errors && errors.color? errors.color.msg : null %></small>
      <label for="email">Ingrese su email</label>
    <input type="email" name="email" id="">
    <small class="Error"><%= locals.errors && errors.email? errors.email.msg : null %></small>
    <button type="submit">enviar</button>
  </form>
    <br>
    <% if(locals.config){ %> 
      <label for="" >Hola <%= locals.config.nombre %>, elegiste el color:<%= locals.config.color %>, y tu email es:<%= locals.config.email %></label>

    <%}  %> 
 
  </body>
</html>
